{% apply inline_css %}
    <style>
        {# définissez votre style CSS comme d'habitude #}
        h1 {
            color: blueviolet;
        }
    </style>

    <span>{{ message }}!</span>
    {# ... #}
{% endapply %}